@using Askyl.Dsm.WebHosting.Tools.WebSites
@using Microsoft.FluentUI.AspNetCore.Components
@using Askyl.Dsm.WebHosting.Constants.UI
@using Askyl.Dsm.WebHosting.Data.API.Definitions.FileStation
@using Askyl.Dsm.WebHosting.Data.WebSites
@using Askyl.Dsm.WebHosting.Tools.Network
@using Askyl.Dsm.WebHosting.Ui.Components.Patterns.WorkingState
@using Askyl.Dsm.WebHosting.Ui.Extensions

@implements IDialogContentComponent<WebSiteInstance>
@implements IWorkingState

@inject IDialogService DialogService
@inject IWebSitesConfigurationService ConfigService
@inject WebSiteHostingService HostingService
@inject IFileSystemService FileSystemService

<LoadingOverlay WorkingStateComponent="@this" />

<FluentDialogHeader ShowDismiss="true">
    <FluentLabel Typo="Typography.H2">@(IsEditMode ? "Edit Website" : "Add Website")</FluentLabel>
</FluentDialogHeader>

<FluentDialogBody>
    <EditForm Model="@Configuration" OnValidSubmit="ConfirmAsync">
        <DataAnnotationsValidator />
        <FluentStack Orientation="Orientation.Vertical">
            <FluentTextField @bind-Value="Configuration.Name" Label="Name" autofocus Class="full-size" />
            <FluentValidationMessage For="@(() => Configuration.Name)" />

            <FluentDivider />
            <FluentLabel Typo="Typography.H3">Application Settings</FluentLabel>

            <FluentStack Orientation="Orientation.Vertical">
                <FluentLabel>Application Path</FluentLabel>
                <FluentStack Orientation="Orientation.Horizontal">
                    <FluentTextField @bind-Value="Configuration.ApplicationPath" Class="flex-full-width" />
                    <FluentButton IconStart="@(new IconsRegular20.FolderOpen())" Appearance="Appearance.Outline" OnClick="SelectApplicationPath" Type="ButtonType.Button" />
                </FluentStack>
            </FluentStack>
            <FluentValidationMessage For="@(() => Configuration.ApplicationPath)" />
            <FluentStack Orientation="Orientation.Horizontal">
                <FluentStack Orientation="Orientation.Vertical" Class="flex-full-width">
                    <FluentTextField @bind-Value="Configuration.Environment" Label="Environment" Class="full-size" />
                    <FluentValidationMessage For="@(() => Configuration.Environment)" />
                </FluentStack>
                <FluentStack Orientation="Orientation.Vertical" Class="flex-full-width">
                    <FluentNumberField @bind-Value="Configuration.InternalPort" Label="Internal Port" Class="full-size" />
                    <FluentValidationMessage For="@(() => Configuration.InternalPort)" />
                </FluentStack>
            </FluentStack>
            <FluentCheckbox @bind-Value="Configuration.IsEnabled" Label="Enabled" />
            <FluentCheckbox @bind-Value="Configuration.AutoStart" Label="Auto Start" />

            <FluentDivider />
            <FluentLabel Typo="Typography.H3">Reverse Proxy</FluentLabel>

            <FluentTextField @bind-Value="Configuration.HostName" @bind-Value:after="() => { if (String.IsNullOrEmpty(Configuration.HostName)) Configuration.HostName = null; }" Label="Hostname" Class="full-size" />
            <FluentStack Orientation="Orientation.Horizontal">
                <FluentStack Orientation="Orientation.Vertical" Class="flex-full-width">
                    <FluentSelect TOption="string" @bind-Value="ProtocolProxy" Label="Protocol" Class="full-size">
                        @foreach (var protocol in Enum.GetValues<ProtocolType>())
                        {
                            <FluentOption Value="@(((int)protocol).ToString())">@protocol.ToString()</FluentOption>
                        }
                    </FluentSelect>
                    <FluentValidationMessage For="@(() => Configuration.Protocol)" />
                </FluentStack>
                <FluentStack Orientation="Orientation.Vertical" Class="flex-full-width">
                    <FluentNumberField @bind-Value="Configuration.PublicPort" Label="Public Port" Class="full-size" />
                    <FluentValidationMessage For="@(() => Configuration.PublicPort)" />
                </FluentStack>
            </FluentStack>
            <FluentCheckbox @bind-Value="Configuration.EnableHSTS" Label="Enable HSTS" />
        </FluentStack>
        <div class="fluent-dialog-footer">
            <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End">
                <FluentButton OnClick="CancelAsync" Appearance="Appearance.Neutral" Type="ButtonType.Button">
                    Cancel
                </FluentButton>
                <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">
                    @(IsEditMode ? "Update" : "Create")
                </FluentButton>
            </FluentStack>
        </div>
    </EditForm>
</FluentDialogBody>

<FluentDialogFooter Style="display: none;">
    Workaround
</FluentDialogFooter>

@code
{
    #region Parameters

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    [Parameter]
    public WebSiteInstance Content { get; set; } = default!;

    #endregion

    #region Properties and Fields

    private WebSiteConfiguration Configuration { get; set; } = default!;

    private bool IsEditMode => Content?.Configuration?.Id != Guid.Empty;

    private string ProtocolProxy
    {
        get => ((int)Configuration.Protocol).ToString();
        set => Configuration.Protocol = Enum.Parse<ProtocolType>(value);
    }

    #endregion

    #region IWorkingState Implementation

    public bool IsWorking { get; set; }

    public string Message { get; set; } = "";

    public void NotifyStateChanged() => StateHasChanged();

    #endregion

    #region Lifecycle

    protected override void OnInitialized() => Configuration = Content?.Configuration?.Clone() ?? new();

    #endregion

    #region Dialog Actions

    private async Task SelectApplicationPath()
    {
        var dialog = await DialogService.ShowDialogAsync<FileSelectionDialog>("80%");
        var result = await dialog.Result;

        if (result.Cancelled || result.Data is not FileStationFile selectedFile)
        {
            return;
        }

        Configuration.ApplicationPath = selectedFile.Path;
        Configuration.ApplicationRealPath = selectedFile.Additional?.RealPath ?? "";
    }

    private async Task ConfirmAsync(EditContext context)
    {
        try
        {
            if (String.IsNullOrEmpty(Configuration.ApplicationPath) || String.IsNullOrEmpty(Configuration.ApplicationRealPath))
            {
                await DialogService.ShowErrorAsync("Application path is required. Please select a valid application path.");
                return;
            }

            using var worker = this.CreateWorkingState("Setting permissions for http group...");

            await FileSystemService.SetHttpGroupPermissionsAsync(Configuration.ApplicationPath, Configuration.ApplicationRealPath);

            worker.UpdateMessage(IsEditMode ? $"Updating '{Configuration.Name}'..." : $"Creating '{Configuration.Name}'...");

            if (IsEditMode)
            {
                await ConfigService.UpdateSiteAsync(Configuration);
                await HostingService.UpdateInstanceAsync(Content, Configuration);
            }
            else
            {
                await ConfigService.AddSiteAsync(Configuration);
                await HostingService.AddInstanceAsync(Configuration);
            }

            await Dialog.CloseAsync(Configuration);
        }
        catch (Exception ex)
        {
            await DialogService.ShowErrorAsync($"Error {(IsEditMode ? "updating" : "creating")} website: {ex.Message}");
        }
    }

    private async Task CancelAsync() => await Dialog.CancelAsync();

    #endregion
}