@typeparam TItem where TItem : class

<div class="auto-data-grid-content">
    <div class="auto-data-grid-area">
        <FluentDataGrid @ref="@Grid" TGridItem="TItem" ItemsProvider="@ItemsProvider" DisplayMode="DataGridDisplayMode.Grid" ShowHover="true" Pagination="@pagination" GridTemplateColumns="@GridTemplateColumns" GenerateHeader="GenerateHeaderOption.Sticky" RowClass="@GetRowClass" OnRowClick="@OnRowClick">
            <ChildContent>
                @ChildContent
            </ChildContent>

            <LoadingContent>
                @if (LoadingContent != null)
                {
                    @LoadingContent
                }
                else
                {
                    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center">
                        <FluentProgressRing Size="16" />
                        <FluentLabel>Loading items...</FluentLabel>
                    </FluentStack>
                }
            </LoadingContent>

            <EmptyContent>
                @if (EmptyContent != null)
                {
                    @EmptyContent
                }
                else
                {
                    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center">
                        <FluentIcon Value="@(new Icons.Regular.Size16.Info())" />
                        <FluentLabel>No items found.</FluentLabel>
                    </FluentStack>
                }
            </EmptyContent>
        </FluentDataGrid>
    </div>
    <div class="auto-data-grid-pager-area">
        <FluentPaginator State="@pagination" />
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public GridItemsProvider<TItem> ItemsProvider { get; set; } = default!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? LoadingContent { get; set; }

    [Parameter]
    public RenderFragment? EmptyContent { get; set; }

    [Parameter, EditorRequired]
    public string GridTemplateColumns { get; set; } = default!;

    [Parameter]
    public int ItemsPerPage { get; set; } = 50;

    [Parameter]
    public EventCallback<TItem> OnItemClick { get; set; }

    [Parameter]
    public TItem? SelectedItem { get; set; }

    [Parameter]
    public EventCallback<TItem?> SelectedItemChanged { get; set; }

    [Parameter]
    public string SelectedRowClass { get; set; } = "selected-row";

    private FluentDataGrid<TItem>? Grid { get; set; }
        
    private readonly PaginationState pagination = new();

    protected override void OnInitialized() => pagination.ItemsPerPage = ItemsPerPage;

    public async Task RefreshAsync() => await Grid!.RefreshDataAsync();

    public void SetLoadingState(bool? loading) => Grid?.SetLoadingState(loading);

    private async Task OnRowClick(FluentDataGridRow<TItem> row)
    {
        SelectedItem = row.Item;
        await SelectedItemChanged.InvokeAsync(SelectedItem);
        await OnItemClick.InvokeAsync(SelectedItem);
    }

    private string? GetRowClass(TItem item)
    {
        if (SelectedItem != null && SelectedItem.Equals(item))
        {
            return SelectedRowClass;
        }

        return null;
    }
}
