@using Askyl.Dsm.WebHosting.Constants.Application

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@(ApplicationConstants.ApplicationUrlSubPath + "/")" />

    <link rel="stylesheet" href="@Assets["_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css"]" />
    <link rel="stylesheet" href="@Assets["Askyl.Dsm.WebHosting.Ui.styles.css"]" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    
    <link rel="stylesheet" href="@Assets["css/components/dialogs/file-selection.css"]" />
    <link rel="stylesheet" href="@Assets["css/components/dialogs/aspnet-releases.css"]" />
    <link rel="stylesheet" href="@Assets["css/components/controls/auto-grid.css"]" />

    <ImportMap />

    <script src="@Assets["js/tree-navigation.js"]"></script>

    <link rel="icon" type="image/svg+xml" href="images/adwh-logo.svg" sizes="any">
    <link rel="icon" type="image/png" href="images/favicon.png" sizes="any" />
    <HeadOutlet @rendermode="RenderMode" />
</head>

<FluentDesignTheme Mode="@DesignThemeModes.System" />

<body>
    <Routes @rendermode="RenderMode" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code
{
    private static readonly IComponentRenderMode RenderMode = new InteractiveServerRenderMode(prerender: false);
}